<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>JWT Authentication</title>
    <link rel="icon" href="./Zignuts_favicon.jpeg" type="image/x-icon" />
  </head>
  <body class="bg-[#16202d]">
    <%- include('partials/navbar'); %>.
    <div class="flex items-center justify-center mt-48 text-center">
      <% if(user){ %>
      <h3 class="text-white text-4xl">Hello, <%= user.name %></h3>
      <%}else{ %>
      <h3 class="text-white text-4xl">You are not Logged In!</h3>
      <%}%>
    </div>
  </body>
</html>
